.action-bar {
  position: absolute;
  height: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
  }
}